version: '3.8'
services:
  app:
    build: .
    ports:
      - '4000:4000'
    environment:
      - MONGO_URI=mongodb://mongo:27017/runwithease
      - ADMIN_SECRET=change-this-secret
    depends_on:
      - mongo
  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data:
